.logoutButton {
  background-color: darkred;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 12px 24px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logoutButton:hover {
  background-color: red;
}
